.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px 0;
  padding: 0 25%;
}

/* LabelledInput.css */

.labelled-input-container {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-size: 15px;
}

.beautiful-input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

.beautiful-input.error-border {
  border: 1px solid red;
}

.beautiful-input:focus {
  outline: none;
}

.submit-button {
  background-color: #4c4eaf;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #45a049; /* Change the color to your desired hover color */
}

.json-box {
  margin-top: 50px;
  overflow: auto;
}

.error-text {
  margin-top: 50px;
  overflow: auto;
  color: red;
}